Categorias disponibles:
<ul>
  {{ range .Site.Params.categories }}		
    <li><a href="/categories/{{ . | urlize }}">{{ . }}</a></li>
  {{ end }}
</ul>
Tipos de proyecto:
<ul>
  {{ range .Site.Params.typeProjects }}		
    <li><a href="/typeprojects/{{ . | urlize }}">{{ . }}</a></li>
  {{ end }}
</ul>
Tipo de Front:
<ul>
  {{ range .Site.Params.typeFronts }}		
    <li><a href="/typefronts/{{ . | urlize }}">{{ . }}</a></li>
  {{ end }}
</ul>
Tags :
<ul>
  {{ range .Site.Params.tagsParams }}		
    <li><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>
  {{ end }}
</ul>
